* {
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    font-family: Raleway;
}

header {
    text-align: center;
    background: url('/images/bubbles-header.jpg');
    background-size: cover;
}

.icon {
    margin: 10px 0 10px 0;
    width: 10%;
}

.nav-bar {
    background-color: black;
    opacity: 0.5;
    display: flex;
}

.nav-bar nav {
    display: flex;                
    flex-direction: row;
    margin: 0 auto;    
}

.nav-bar nav div {
    margin: 0 10px 0 10px;
}

.nav-bar a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

/* img {
    width: 200px;
} */

.all-albums-container {
    display: flex;
    flex-wrap: wrap; /* make it change line */
    padding: 20px 0 0 95px;
}

.one-user-albums-container {
    display: flex;
    flex-wrap: wrap; /* make it change line */
    padding: 20px 0 0 95px;
}

.album-container {
    border: 1px solid black;
    margin: 5px;
    width: 200px;
}

.album-container img {
    width: 100%;
    height: auto;
}

.album-name {
    padding-top: 10px;
    height: 40px;
    text-align: center; 
}

.album-container:hover {
    border: 1px solid yellow;
}


.all-photos-container {
    display: flex;
    flex-wrap: wrap; /* make it change line */
    padding: 20px 0 0 95px;
}

.photo-container {
    border: 1px solid black;
    margin: 5px;
    width: 200px;
}

.photo-container img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.photo-name {
    padding-top: 10px;
    height: 40px;
    text-align: center; 
}

.photo-container:hover {
    border: 1px solid yellow;
}

.expanded-image-container {
    position: relative;
    display: none;
    text-align: center;
}

/* Closable button inside the expanded image */
.close-expanded-image-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

/* style logout-btn to look like a link */
.logout-btn button {
    border: none; 
    padding: 0; 
    background: none;
    color: white;
    cursor: pointer;
}

.logout-btn {
    margin-left: 10px;
}

.login-infor {
    /* margin-left: 800px; */
    /* width: 500px; */
    color: white;
}

@media (max-width: 400px) {
    .nav-bar nav {
        display: flex;
        flex-wrap: wrap;
    }    
}