<div class="create-new-user-form">
    <form action="/users" method="post">
        <div>
            <label for="email">email</label>
            <input type="text" name="email" id="email">
        </div>

        <div>
            <label for="">password</label>
            <input type="password" name="password" class="password"> 
        </div>

        <div>
            <label for="">confirm password</label>
            <input type="password" name="confirm_password" class="confirm-password"> 
        </div>

        <div>
            <button class="button create-account-btn">
                create account
            </button>

            <input type="hidden" value="<%= %>">
                                     
        </div>
    </form>

</div>


<script> 
    // password validation has to happen on server side, 
    // user can turn off javascript, so can not do on client side 
    // var comparePassword = function() {
    //     // var isPasswordSame = false;
    //     var getPasswordInput = document.querySelector('.password');
    //     var getConfirmPasswordInput = document.querySelector('.confirm-password');
    //     if(getPasswordInput.value == getConfirmPasswordInput.value) {
    //         return true;
    //     } else {
    //         return false;
    //     }
    // }
</script>