<div class="index-container">
  <h1>Photos Sharing</h1>

  <div class="search-container">
    <div class="search-input-field">
      <input type="text" name="title" placeholder="image">
    </div>
    <form action="">
      <div class="search-btn">
        <button><img src="/images/search.png" alt=""></button>
      </div>
    </form>
  </div>   
</div>
