<div class="login-form">
    <form action="/session" method="post">
        <div>
            <label for="email">email</label>
            <input type="text" name="email" id="email" required>    
        </div>

        <div>
            <label for="">password</label>
            <input type="password" name="password" id="password" required>    
        </div>

        <div>
            <button class="button login-btn">login</button>
        </div>  
    </form>

    <div class="sign-up-form">
        <p>don't have an account?</p>
        <form action="/users/new">
            <div>
                <button class="button sign-up-btn">sign up</button>
            </div>  
        </form>
    </div>
</div>



