<div class="create-new-user-form">
  <form action="/users" method="post">
    <div>
      <label for="email">email</label>
      <input type="text" name="email" id="email" required>
    </div>

    <div>
      <label for="">password</label>
      <input type="password" name="password" class="password" required> 
    </div>

    <div>
      <label for="">confirm password</label>
      <input type="password" name="confirm_password" class="confirm-password" required> 
    </div>

    <div>
      <button class="button create-account-btn">
        create account
      </button>                       
    </div>
  </form>
</div>


