@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Playball');

* {
    box-sizing: border-box;
}

body {
    background-color: snow;
    font-family: Raleway;
}

input {
    font-family: 'Crimson Text', serif;
    font-size: 15px;
}

textarea {
    font-family: 'Crimson Text', serif;
    font-size: 15px;
}

h1 {
    font-family: 'Playball', cursive;
    font-style: italic;
    font-size: 40px;
    color: crimson;
}

a {
    text-decoration: none;
}

header {
    text-align: center;
    background: url('/images/snow.jpg');
    background-size: cover;
}

.icon {
    margin: 10px 0 5px 0;
    width: 10%;
}

.nav-bar {
    background-color: black;
    opacity: 0.6;
    display: flex;
}

.nav-bar nav {
    display: flex;                
    flex-direction: row;
    margin: 0 auto;    
}

.nav-bar nav div {
    margin: 0 10px 0 10px;
}

.nav-bar a {
    color: white;
    font-size: 20px;
    font-family: 'Crimson Text', serif;
}

/* style logout-btn to look like a link */
.logout-btn button {
    border: none; 
    padding: 0; 
    background: none;
    color: white;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    cursor: pointer;
}

.logout-btn {
    margin-left: 10px;
}

.login-infor {
    color: black;
    float: right; /* align div to right side and responsive */
}


.all-albums-container {
    position: absolute; /* need this when have a previous div floated right */
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap; /* make it change line */
    padding: 30px 0 0 0;
    padding-left: 5%;
}

.one-user-albums-container {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap; /* make it change line */
    padding: 20px 0 0 0;
    padding-left: 5%;
}

.album-container {
    border: 1px solid black;
    margin: 5px;
    width: 200px;
}

.album-container img {
    width: 100%;
    height: 200px;
    object-fit: cover; /* keep image aspect ratio when resizing */
}

.album-name {
    padding-top: 5px;
    height: 40px;
    text-align: center; 
    /* background-color: ivory; */
}

.album-name a {
    color: black;
}

.album-container:hover {
    border: 1px solid crimson;
}


.all-photos-container {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap; /* make it change line */
    padding: 20px 0 0 0;
    padding-left: 5%;
}

.photo-container {
    border: 1px solid black;
    margin: 5px;
    width: 200px;
}

.photo-container img {
    width: 100%;
    height: 200px;
    cursor: pointer;
    object-fit: cover; /* keep image aspect ratio when resizing */
}

.photo-name {
    padding-top: 5px;
    height: 40px;
    text-align: center; 
    cursor: pointer;
    /* background-color: ivory; */
}

.photo-name a {
    color: black;
}

.show-edit-delete {

}

.photo-container:hover {
    border: 1px solid crimson;
}

.enlarged-image-container {
    text-align: center;
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* padding-top: 20px; Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

#enlargedImg {
    max-width: 100%;
}

.enlarged-image-fit-window {
    display: grid;
}

/* animation effect */
#enlargedImg {  
    animation-name: zoom;
    animation-duration: 0.6s;
}
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* close button */
.close-enlarged-image-btn {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close-enlarged-image-btn:hover, .close-enlarged-image-btn:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


.upload-photo-form {
    text-align: center;
    margin-top: 10px;
}

.create-album-form {
    text-align: center;
    margin-top: 10px;
}


.one-photo-page-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.photo-btn-container {
    text-align: center;
}

.edit-delete-forms {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.edit-photo-form {
    /* margin-left: 20px; */
}

.delete-photo-form {
    margin-left: 10px;
}

.comment-like-container {
    padding-top: 5px;
    text-align: center;
    margin-left: 20px;
}

.post-comment-form {
    /* margin-top: 10px; */
    /* text-align: center; */
}

.comment-input-field textarea {
    width: 500px;
    height: 120px;
}

.post-comment-btn-holder {
    margin-top: 10px;
}

.image-link {
    margin-top: 10px;
    text-align: center;
}

.like-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.like-btn {
    margin-right: 10px;
}

.like-btn button {
    border: none; 
    padding: 0; 
    background: none;
    cursor: pointer;
}

.like-holder {
    margin-top: 5px;
}

.list-of-comments {
    padding-top: 10px;
    width: 500px;
    margin: auto;
}

.comment {
    border-bottom: 1px solid gray;
    padding-left: 20px;
}


.index-container {
    text-align: center;
    padding-top: 10px;
}

.search-container {
    display: flex;
    justify-content: center; /* center 2 divs and responsive */
}

.search-input-field input {
    height: 34px;
    width: 400px;
}

.search-btn button {
    border: none; 
    padding: 0; 
    background: none;
    cursor: pointer;
}

.login-form, .own-albums-form { /* in home page */
    margin-top: 30px;
}


.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.delete-photo-btn {
    background-color: #f44336;
}

.login-btn:hover, .own-albums-btn:hover, .create-albums-btn:hover, .sign-up-btn:hover, 
.upload-photo-btn:hover, .edit-photo-btn:hover, .post-comment-btn:hover, 
.update-photo-btn:hover, .create-account-btn:hover {
    background-color: ivory;
    color: #4CAF50;
}

.delete-photo-btn:hover {
    background-color: ivory;
    color: #f44336;
}

.login-form {
    margin-top: 30px;
    text-align: center;
}

.login-form label {
    display: inline-block;
    width: 80px;
    text-align: left;
}

.login-form input {
  height: 25px;
  width: 200px;
}

.login-form div {
    margin-top: 20px;
}


.handle-create-album-form {
    margin-top: 60px;
    text-align: center;
}

.handle-create-album-form label {
    display: inline-block;
    width: 110px;
    text-align: left;
}

.handle-create-album-form input {
    height: 25px;
    width: 300px;
}

.handle-create-album-form div {
    margin-top: 20px;
}


.handle-upload-photo-form {
    margin-top: 60px;
    text-align: center;
}

.handle-upload-photo-form label {
    display: inline-block;
    width: 110px;
    text-align: left;
}

.handle-upload-photo-form input {
    height: 25px;
    width: 300px;
}

.handle-upload-photo-form div {
    margin-top: 20px;
}


.handle-edit-photo-form {
    margin-top: 60px;
    text-align: center;
}

.handle-edit-photo-form label {
    display: inline-block;
    width: 110px;
    text-align: left;
}

.handle-edit-photo-form input {
    height: 25px;
    width: 300px;
}

.handle-edit-photo-form div {
    margin-top: 20px;
}


.create-new-user-form {
    margin-top: 30px;
    text-align: center;
}

.create-new-user-form label {
    display: inline-block;
    width: 120px;
    text-align: left;
}

.create-new-user-form input {
    height: 25px;
    width: 200px;
}

.create-new-user-form div {
    margin-top: 20px;
}


/* @media (max-width: 400px) {
    .nav-bar nav {
        display: flex;
        flex-wrap: wrap;
    }    
} */



