<h2>create album</h2>

<form action="/albums/<%= @user_id %>" method="post">
    <label for="">name</label>
    <input type="text" name="name">
    <label for="">theme image url</label>
    <input type="text" name="theme_image_url">
    <button>create</button>
</form>

