<% if !logged_in? %>
    <form action="/login">
        <button>login page</button>
    </form>

<% elsif logged_in? %>
    
    <a href="/albums/<%= current_user.id %>">own albums</a>

    
<% end %>

<a href="/albums">all albums</a>