<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>

  <header>
      <img class="icon" src="https://tripletsisters.files.wordpress.com/2013/11/ios-7-photo-icon-pn.png?w=514&h=514">
      <% if logged_in? %>
        <div class="login-infor">
          <form action="/session" method="post">
            <input type="hidden" name="_method" value="delete">
            <span>Logined in as: <%= current_user.email %></span> 
            <span class="logout-btn"><button>logout</button></span>     
          </form>
        </div> 
      <% end %>
       
      <div class="nav-bar">
        <nav>
          <div><a href="/">Home</a></div>
          <div><a href="/albums">Albums</a></div>
          <div><a href="/about">About</a></div>  
        </nav>
      </div>
  </header>

  <%= yield %>

</body>
</html>