<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <%# <link rel='stylesheet' href='/stylesheets/main.css'> %>
  <link rel='stylesheet' href='/main.css'>
</head>
<body>

  <header>
      <img class="icon" src="https://tripletsisters.files.wordpress.com/2013/11/ios-7-photo-icon-pn.png?w=514&h=514">       
      
      <div class="nav-bar">
        <nav>
          <div><a href="/">Home</a></div>
          <div><a href="/albums">Albums</a></div>
          <div><a href="/about">About</a></div> 

          <% if logged_in? %>
            <form action="/session" method="post">
              <input type="hidden" name="_method" value="delete">
              <div class="logout-btn"><button>Logout</button></div>     
            </form>
          <% end %>

        </nav>
      </div>
  </header>

  <% if logged_in? %>
    <div class="login-infor">
      <span>logined in as: <%= current_user.email %></span> 
    </div> 
  <% end %>

  <%= yield %>

</body>
</html>