<form action="/photos/<%= @album_id %>/<%= @user_id %>" method="post">
    <label for="">name</label>
    <input type="text" name="name">
    <label for="">image url</label>
    <input type="text" name="image_url">
    <button>upload</button>
</form>
